<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelpChain</title>
</head>
<body>
    <h1>Welcome to HelpChain</h1>
    <p>
        HelpChain is a novel software solution that utilizes large language models and advanced natural language processing techniques to enable semantic interactions with the software. </br>
        The solution leverages OpenAI, LangChain and more to combine some powerful components into a VERY powerful AI.</br>
        The key feature of HelpChain is its ability to chain multiple queries together to produce more complex results and perform research. </br></br>
        This means you can ask more complex, multi-stage questions like: 
        <ul>
            <li><i>"What is the current weather in the hometown of steven hawking raised to the power of 8?"</i></li>
            <li><i>"Summarise todays news headlines from the Australian Financial Review, specifying ASX codes for any companies mentioned, in a well formatted list"</i></li>
            <li><i>"As the CTO of a large enterprise, my teams are having trouble locating the information they need in our knowledgebase. How could the tool described on this web page help: https://learn.microsoft.com/en-us/azure/search/search-what-is-azure-search"</i></li>   
        </ul>
        Give it a shot below.
    </p>
    <form action="" method="get">
		<label for="queryField">Enter Query:</label>
		<input type="text" id="queryField" name="query">
		<button type="submit">Submit</button>
	</form>
    <hr>
    <div id="response_block">
        <div id="query_block">
            <h2>{{ query|safe }}</h2>
        </div>
        <div id="response_body">
            <p>
                {{ response|safe }}
            </p>
        </div>
    </div>
</body>
<script>
    document.forms[0].addEventListener('submit', function() {
        window.location.href = '?query='
                               + document.getElementById('queryField').value;
    }, false);
</script>
</html>